## Load data from the MySQL database

In [1]:
# Dependencies for accessing MySQL database
from sqlalchemy import create_engine
from config import password

# Dependencies for data analyses and dataframe building
import pandas as pd
import numpy as np
import re

# Dependencies for creating co-occurrence matrices
import itertools
from itertools import combinations_with_replacement

# Dependencies for visualising co-occurrence matrices
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.cm as cm

In [2]:
def dataframe(df, state):
    x = df.loc[df["State"] == state].drop_duplicates() 
    return x

In [3]:
def dish_count(df, states):
    """ Count the number of dishes """
    dish_count = []
    for x in states:
        dish_count_dict = {}
        for i in df.loc[df["State"] == x]["Occasion"]:
            if i in dish_count_dict:
                dish_count_dict[i] += 1
            else:
                dish_count_dict[i] = 1
        dish_count.append(dish_count_dict)    

    return dish_count

In [4]:
def intersection(lst1, lst2):
    """ Determine the overlaps between two lists """
    return list(set(lst1) & set(lst2))

## Explore the dataset -- expert_elicitation table

In [5]:
# Open the database connection
engine = create_engine(f"mysql+pymysql://root:{password}@localhost/dishes_db")
db_conn = engine.connect()

# Create a dataframe based on a query for the GSR embedding of the 
# dishes and occasions by state
df = pd.read_sql("select * from expert_elicitation limit 500", db_conn)

# Close the connection
db_conn.close()

In [6]:
# Print the dataframe
# Dish1 = original value from expert elicitation
# Dish2 = equivalent name (to reduce sparsity of dish name values); Arindam to finalise this detail
df.head()

   Id   State   Occasion            Dish     Dish2
0   1  Odisha  Breakfast            Bara      Vada
1   2  Odisha  Breakfast  Bread Sandwich  Sandwich
2   3  Odisha  Breakfast         Chakuli   Chakuli
3   4  Odisha  Breakfast          Chatua    Chattu
4   5  Odisha  Breakfast    Chole/Guguni    Ghugni

In [7]:
# Create lists of states and occasions
states = list(df["State"].unique())
occasions = list(df["Occasion"].unique())

In [8]:
# How many dishes per occasion (all occasions)
# Use the Dish2 column, which contains the 
df_dishcount = df.groupby(["Occasion", "State"])["Dish2"].count().reset_index()
df_dishcount2 = pd.pivot_table(df_dishcount, values = "Dish2", index = "Occasion", columns = "State").reset_index()
df_dishcount2

# New column containing percentages
df_dishcount2["Odisha_pct"] = round(((df_dishcount2["Odisha"]/ df_dishcount2["Odisha"].sum()) * 100), 2)
df_dishcount2["WB_pct"] = round(((df_dishcount2["West Bengal"]/ df_dishcount2["West Bengal"].sum()) * 100), 2)

df_dishcount2

State          Occasion  Odisha  West Bengal  Odisha_pct  WB_pct
0              AM Snack       4            5        3.70    4.76
1             Breakfast      22           22       20.37   20.95
2                Dinner      20           20       18.52   19.05
3                 Lunch      20           20       18.52   19.05
4              PM Snack      21           19       19.44   18.10
5      Special Occasion      21           19       19.44   18.10

In [9]:
# Create individual dataframes by state (and put them in a list)
df_state = [dataframe(df, state) for state in states]  

# Print number of unique dishes
for x in range(0, len(states)):
    print(f"There are {len(df_state[x].Dish2.unique())} unique dishes in {states[x]}.")

There are 72 unique dishes in Odisha.
There are 83 unique dishes in West Bengal.

In [10]:
# How many dishes are mentioned per state
for x in range(0, len(states)):
    print(f"There are {len(df_state[x].Dish2)} dishes in {states[x]}")

There are 108 dishes in Odisha
There are 105 dishes in West Bengal

### Excluding special occasions

In [11]:
# Exclude special occasions in dataframe
df2 = df.loc[df["Occasion"] != "Special Occasion"]

# Preview the dataframe
df2.head()

   Id   State   Occasion            Dish     Dish2
0   1  Odisha  Breakfast            Bara      Vada
1   2  Odisha  Breakfast  Bread Sandwich  Sandwich
2   3  Odisha  Breakfast         Chakuli   Chakuli
3   4  Odisha  Breakfast          Chatua    Chattu
4   5  Odisha  Breakfast    Chole/Guguni    Ghugni

In [12]:
# How many dishes per occasion (without special occasions)
dish_count(df2, states)

# Create individual dataframes by state (and put them in a list)
df_state2 = [dataframe(df2, state) for state in states]

# Print number of unique dishes
for x in range(0, len(states)):
    print(f"State: {states[x]}")
    print(f"Unique dishes: {len(df_state2[x].Dish2.unique())}")
    print(f"Total dishes: {len(df_state2[x].Dish2)}")
    print("---")

State: Odisha
Unique dishes: 61
Total dishes: 87
---
State: West Bengal
Unique dishes: 70
Total dishes: 86
---

In [13]:
# Which dishes are common between states? (exclude special occasions)
dish_list_OD = df2[df2["State"] == "Odisha"]["Dish2"].to_list() # list of dishes in Odisha
dish_list_WB = df2[df2["State"] == "West Bengal"]["Dish2"].to_list() # list of dishes in West Bengal

common_dishes = intersection(dish_list_OD, dish_list_WB)
common_dishes.sort()
common_dishes # list of dishes found in both Odisha and West Bengal

common_dishes_df = df2[df2["Dish2"].isin(common_dishes)][["State", "Occasion", "Dish2"]]\
.groupby(["Dish2", "State"])["Occasion"]\
.apply(list)\
.reset_index()

common_dishes_df2 = pd.pivot(common_dishes_df, values = "Occasion", index = "Dish2", columns = "State")\
.reset_index() # dataframe showing occasions for common dishes per state

# Preview database
common_dishes_df2

State,Dish2,Odisha,West Bengal
0,Aloo sabji,[Breakfast],[Dinner]
1,Biscuit,"[AM Snack, PM Snack]",[Breakfast]
2,Chapati,"[Breakfast, Lunch, Dinner]","[Breakfast, Lunch, Dinner]"
3,Chattu,[Breakfast],[Breakfast]
4,Chutney,[Dinner],[Dinner]
5,Corn flakes,[Breakfast],[Breakfast]
6,Dal,[Lunch],[Dinner]
7,Egg curry,"[Lunch, Dinner]","[Lunch, Dinner]"
8,Fried vegetables,"[Lunch, Dinner]","[Lunch, Dinner]"
9,Fruit,[AM Snack],[Breakfast]
10,Ghugni,"[Breakfast, Lunch, PM Snack, Dinner]","[Breakfast, PM Snack]"
11,Idli,[Breakfast],[Breakfast]
12,Khichdi,[Lunch],"[Lunch, Dinner]"
13,Luchi,[Breakfast],"[Breakfast, Dinner]"
14,Macher jhol,"[Lunch, Dinner]","[Lunch, Dinner]"
15,Mangsheer jhol (mutton),[Lunch],"[Lunch, Dinner]"
16,Mashed potato,[Lunch],[Lunch]
17,Mix vegetables,"[Lunch, Dinner]",[Lunch]
18,Moori masala,"[AM Snack, PM Snack]","[PM Snack, AM Snack]"
19,Mudhi khira,[PM Snack],[Breakfast]
20,Murgir jhol,"[Lunch, Dinner]","[Lunch, Dinner]"
21,Noodles,[PM Snack],[PM Snack]
22,Paneer curry,"[Lunch, Dinner]",[Dinner]
23,Panipuri,[PM Snack],[PM Snack]
24,Papad,[Lunch],[PM Snack]
25,Paratha,"[Breakfast, Dinner]",[Breakfast]
26,Raita,[Lunch],[Dinner]
27,Rice,"[Lunch, Dinner]","[Lunch, Dinner]"
28,Roasted peanut,[AM Snack],[PM Snack]
29,Saag,[Lunch],[Lunch]
30,Sooji halwa,[Breakfast],"[Breakfast, PM Snack]"

In [14]:
# Create a new dataframe for counts of dishes excluding special occasions
df3 = df2.groupby(["State", "Occasion"])["Dish2"].count().reset_index()
df_dishcount3 = pd.pivot_table(df3, values = "Dish2", index = "Occasion", columns = "State").reset_index()
df_dishcount3

State   Occasion  Odisha  West Bengal
0       AM Snack       4            5
1      Breakfast      22           22
2         Dinner      20           20
3          Lunch      20           20
4       PM Snack      21           19

In [15]:
# Create a list of total unique dish counts per state (excluding special occasions)
tot_dishes = [len(df_state2[x].Dish2.unique()) for x in range(0, len(states))]

# Create a dictionary where the state is the key and the total number of dishes is the value
tot_dishes_dict = dict(zip(states, tot_dishes))

# Count how many times a dish is mentioned per state (excluding special occasions)
dish_grouped = df2.groupby(["State", "Dish2"])["Dish2"].count().to_frame("No_Occasions")\
               .reset_index()

# Preview the dataframe
dish_grouped

           State            Dish2  No_Occasions
0         Odisha         Aloo dum             1
1         Odisha       Aloo sabji             1
2         Odisha          Biscuit             2
3         Odisha     Bread pakoda             1
4         Odisha          Chakuli             3
..           ...              ...           ...
126  West Bengal          Sprouts             1
127  West Bengal           Sukuti             1
128  West Bengal           Thukpa             1
129  West Bengal          Uttapam             1
130  West Bengal  Vegetable curry             2

[131 rows x 3 columns]

### Create matrix of dish-occasion overlap counts by state (exclude special occasions)
NB: 0 = Odisha; 1 = West Bengal

In [16]:
# Create a separate dataframe per state
df_OD = df2[df2["State"] == "Odisha"][["Occasion", "Dish2"]]
df_WB = df2[df2["State"] == "West Bengal"][["Occasion", "Dish2"]]

In [17]:
# Create list of pairs of occasions (excluding special occasions)
occ_combs = list(combinations_with_replacement(occasions[:-1],2))
occ_combs

[('Breakfast', 'Breakfast'),
 ('Breakfast', 'AM Snack'),
 ('Breakfast', 'Lunch'),
 ('Breakfast', 'PM Snack'),
 ('Breakfast', 'Dinner'),
 ('AM Snack', 'AM Snack'),
 ('AM Snack', 'Lunch'),
 ('AM Snack', 'PM Snack'),
 ('AM Snack', 'Dinner'),
 ('Lunch', 'Lunch'),
 ('Lunch', 'PM Snack'),
 ('Lunch', 'Dinner'),
 ('PM Snack', 'PM Snack'),
 ('PM Snack', 'Dinner'),
 ('Dinner', 'Dinner')]

In [18]:
def count_common(df):
    """ Function that count common dishes between two occasions """
    common_count = []
    for comb in occ_combs:
        count = len(list(set(df[df["Occasion"] == comb[0]]["Dish2"]).\
                         intersection(set(df[df["Occasion"] == comb[1]]["Dish2"]))))
        common_count.append(count)

    return common_count

In [19]:
count_common(df_OD)

[22, 0, 3, 6, 6, 4, 0, 2, 0, 20, 2, 11, 21, 4, 20]

In [ ]:
# Create a list of dictionaries of dish lists by occasion 
dicts_state = [df_state2[x].groupby("Occasion")["Dish2"].apply(list).to_dict()\
              for x in range(0, len(df_state2))]

# Create list of pairs of occasions
occ_combs = []
for x in range(0, len(dicts_state)):
    keys = tuple(dicts_state[x])
    combs = list(combinations(keys, 2)) 
    occ_combs.append(combs)
    
# Determine the common dishes across occasions per state
overlaps_state = []
no_overlaps_state = []
for x in range(0, len(occ_combs)):
    overlaps = []
    no_overlaps = []
    for y in range(0, len(occ_combs[x])):
        overlap = intersection(dicts_state[x][occ_combs[x][y][0]],dicts_state[x][occ_combs[x][y][1]])
        overlaps.append(overlap)
        no_overlap = len(overlap)
        no_overlaps.append(no_overlap)
    overlaps_state.append(overlaps)    
    no_overlaps_state.append(no_overlaps)
    
# Create a list of overlap counts by state    
list_overlaps = [dict(zip(occ_combs[x], no_overlaps_state[x])) for x in range(0, len(occ_combs))]

# Create a dataframe per state showing number of dish overlaps by occasion
# 0 = Odisha; 1 = West Bengal
dfs_overlaps = []
for lst in list_overlaps:
    idx = pd.MultiIndex.from_tuples(lst.keys())
    df = pd.DataFrame(list(lst.values()), index=idx, columns=['Score']).unstack(fill_value=0)['Score']
    df = df.reindex(["Breakfast", "AM Snack", "Lunch", "Dinner"])
    df = df[["Breakfast", "Lunch", "PM Snack", "Dinner"]]
    dfs_overlaps.append(df)
    
dfs_overlaps

In [ ]:
dfs_overlaps[0][["Breakfast", "Lunch", "PM Snack", "Dinner"]]

In [ ]:
# Create a heatmap based on overlaps of dishes, by state  
fig, ax = plt.subplots(figsize = (10,8))
ax = sns.heatmap(dfs_overlaps[0], linewidths = 0.5, annot = True, cmap = "Blues", vmin = 0, vmax = 10)
ax.set_title('Odisha')
fig.savefig('dish_overlaps_OD.tif', dpi = 300)
fig.savefig('dish_overlaps_OD.png', dpi = 300)

fig, ax = plt.subplots(figsize = (10,8))
ax1 = sns.heatmap(dfs_overlaps[1], linewidths = 0.5, annot = True, cmap = "Blues", vmin = 0, vmax = 10)
ax1.set_title('West Bengal')
fig.savefig('dish_overlaps_WB.tif', dpi = 300)
fig.savefig('dish_overlaps_WB.png', dpi = 300)

plt.show()

### Dish popularity (excluding special occasions)

In [ ]:
# Dishes from West Bengal mentioned more than once
dish_grouped[(dish_grouped["State"] == "West Bengal") & (dish_grouped["No_Occasions"] > 1)]\
.sort_values("No_Occasions", ascending = False)

In [ ]:
# Dishes from Odisha mentioned more than once
dish_grouped[(dish_grouped["State"] == "Odisha") & (dish_grouped["No_Occasions"] > 1)]\
.sort_values("No_Occasions", ascending = False)

## Dish classification based on main ingredient (excluding special occasions)

In [ ]:
def my_autopct(pct):
    """ Prints the proportion if the value is more than 0.0%"""
    
    return ("%1.1f%%" % pct) if pct > 0 else ""

In [ ]:
def create_piechart1(df, state, explode):
    """ Create pie charts that show proportions of occasions per dish classification in the state """
    
    fig, axes = plt.subplots(nrows = 2, 
                         ncols = 3, 
                         figsize = (20, 10))
    labels = df[state].index
    data = df[state]

    for ax in axes.flat:
        ax.axis("off")

    for ax, col in zip(axes.flat, data.columns):
        ax.pie(data[col],  
               autopct = my_autopct, 
               explode = explode)
        ax.set(ylabel = "", 
               title = col, 
               aspect = "equal")

    axes[0, 0].legend(labels, bbox_to_anchor = (0, 0.5))

    plt.suptitle(state, fontsize = 18)
    plt.savefig(f"pie_occasion_{state}.png", dpi = 300)
    plt.savefig(f"pie_occasion_{state}.tif", dpi = 300)
    plt.show()

In [ ]:
def create_piechart2(df, state, explode):
    """ Create pie charts that show proportions of dish classifications per occasion in the state """
    
    fig, axes = plt.subplots(nrows = 2, 
                         ncols = 3, 
                         figsize = (20, 10))
    labels = df[state].index
    data = df[state]

    for ax in axes.flat:
        ax.axis("off")

    for ax, col in zip(axes.flat, data.columns):
        ax.pie(data[col],  
               autopct = my_autopct, 
               explode = explode)
        ax.set(ylabel = "", 
               title = col, 
               aspect = "equal")

    axes[0, 0].legend(labels, bbox_to_anchor = (0, 0.5))

    plt.suptitle(state, fontsize = 18)
    plt.savefig(f"pie_dishclass_{state}.png", dpi = 300)
    plt.savefig(f"pie_dishclass_{state}.tif", dpi = 300)
    plt.show()

In [ ]:
# Open the database connection
engine = create_engine(f"mysql+pymysql://root:{password}@localhost/dishes_db")
db_conn = engine.connect()

# Create a dataframe based on a query for the GSR embedding of the 
# dishes and occasions by state
df_class = pd.read_sql("SELECT EE.State, EE.Occasion, EE.Dish2, D.Classification \
FROM expert_elicitation AS EE \
LEFT JOIN dishes as D ON EE.Dish2 = D.Dish \
LIMIT 500;", db_conn)

# Close the connection
db_conn.close()

In [ ]:
# Preview the dataframe
df_class

In [ ]:
# Count the number of dishes per classification per state
df_grouped_classes = df_class.groupby(["State", "Occasion", "Classification"]).count()[["Dish2"]].reset_index()

# Exclude special occasions
df_grouped_classes = df_grouped_classes.loc[df_grouped_classes["Occasion"] != "Special Occasion"]
df_grouped_classes = pd.DataFrame(df_grouped_classes, 
                                  index = [3, 4, 5, 6,              # OD, bfast
                                           0, 1, 2,                 # OD, ams
                                           13, 14, 15, 16, 17, 18,  # OD, lun
                                           19, 20, 21, 22,          # OD, pms
                                           7, 8, 9, 10, 11, 12,     # OD, dnr
                                           31, 32, 33, 34, 35,      # WB, bfast
                                           28, 29, 30,              # WB, ams
                                           42, 43, 44, 45,          # WB, lun
                                           46, 47, 48, 49,          # WB, pms
                                           36, 37, 38, 39, 40, 41]) # WB, dnr

# Preview the dataframe
df_grouped_classes.head()

In [ ]:
# Determine dietary diversity score
# Based on number of food groups per occasion
DDS2 = df_grouped_classes.groupby(["State", "Occasion"])["Classification"].count().reset_index()
DDS2 = pd.DataFrame(DDS2, index = [1, 0, 3, 4, 2, 
                                  6, 5, 8, 9, 7])

# Preview dataframe
DDS2

In [ ]:
# Box plot for classification counts (dietary diversity score)
state_count = []
for i in range(len(states)):
    dds = DDS2[DDS2["State"] == states[i]]["Classification"].to_list()
    state_count.append(dds)
    
    fig, ax = plt.subplots(figsize = (10,5))

    y_pos = np.arange(len(DDS2["Occasion"].unique())) 

    ax.bar(y_pos, 
           state_count[i], 
           align = "center", 
           alpha = 0.5)
    plt.xticks(y_pos, DDS2["Occasion"].unique())
    plt.ylim(0, 10)
    plt.ylabel("Dietary Diversity Score")
    plt.suptitle(states[i])

    # Remove the lines on the right and top of the graph
    ax.spines['right'].set_visible(False)
    ax.spines['top'].set_visible(False)

    # Save figures
    plt.savefig(f"bar_DDS_{states[i]}.png", bbox_inches='tight', dpi = 300)
    plt.savefig(f"bar_DDS_{states[i]}.tif", bbox_inches='tight', dpi = 300)
    
    # Preview graph
    plt.show()

In [ ]:
# Reshape the dataframe for pie chart of proportion of occasions per dish classification
df_grouped_classes2 = pd.pivot_table(df_grouped_classes, 
                                     values = "Dish2", 
                                     index = "Occasion", 
                                     columns = ["State", "Classification"])
df_grouped_classes2 = df_grouped_classes2.fillna(0)

# Preview the dataframe
df_grouped_classes2.head()

In [ ]:
explode_occ = (0.1, 0.1, 0.1, 0.1, 0.1) # length of list is the number of occasions (excluding special occasions)

for x in states:
    create_piechart1(df_grouped_classes2, x, explode_occ)

In [ ]:
# Reshape the dataframe for pie chart of proportion of dish classes per occasion
df_grouped_classes3 = pd.pivot_table(df_grouped_classes, 
                                     values = "Dish2", 
                                     index = "Classification", 
                                     columns = ["State", "Occasion"])
df_grouped_classes3 = df_grouped_classes3.fillna(0)

# Preview the dataframe
df_grouped_classes3.head()

In [ ]:
explode_class = (0.1, 0.1, 0.1, 0.1, 0.1, 0.1) # length of list is the number of dish classifications

for x in states:
    create_piechart2(df_grouped_classes3, x, explode_class)

In [ ]:
# Create lists of percentages of dish classifications by occasion per state
# 0 = Odisha; 1 = West Bengal
pcts = []
for state in states:
    pcts_state = []
    for x in df_grouped_classes3[state].columns.to_list():
        pct = list(round((df_grouped_classes3[state][x]/df_grouped_classes3[state][x].sum() * 100),1))
        pcts_state.append(pct)
    pcts.append(pcts_state)
print(pcts)

# Define list of occasions
occasions = df_grouped_classes3["Odisha"].columns.to_list()
print(occasions)

# Define list of dish classifications
dish_classes = df_grouped_classes3["Odisha"].index.to_list()
print(dish_classes)

In [ ]:
# Create dataframes for percentage dish classes per occasion (one df per state)
pct_OD = pd.DataFrame(pcts[0], index = occasions, columns = dish_classes)
pct_WB = pd.DataFrame(pcts[1], index = occasions, columns = dish_classes)

pct_OD.reset_index(level = 0, inplace = True)
pct_WB.reset_index(level = 0, inplace = True)

# Preview the dataframe
pct_OD

In [ ]:
def arrange_occasions(df):
    """ Rearrange the order of occasions to reflect day to day occurrence """
    df = pd.DataFrame(df, 
                      index = [1, 0, 3, 4, 2])
    
    return df

In [ ]:
# Rearrange the occasions
pct_OD = arrange_occasions(pct_OD)
pct_WB = arrange_occasions(pct_WB)

# Preview the rearranged dataframe
pct_OD

In [ ]:
occasions2 = pct_OD["index"].to_list()
occasions2

In [ ]:
def create_barchart(df, state):
    """ Create stacked bar charts"""

    fig, ax = plt.subplots(figsize = (10,5))
    labels = dish_classes

    # Bar with set at 1
    bar_width = 0.85

    # positions of the left bar-boundaries
    bar_l = [i for i in range(len(df["Dairy"]))] 

    # positions of the x-axis ticks (center of the bars as bar labels)
    tick_pos = [i for i in bar_l] 

    # Create a bar chart in position bar_1
    ax.bar(bar_l, 
           # using Dairy data
           df["Dairy"], 
           # labeled 
           label = 'Dairy', 
           # with alpha
           alpha = 0.9, 
           # with color
           color = '#ff0000',
           # with bar width
           width = bar_width,
           # with border color
           edgecolor = 'white'
           )

    # Create a bar chart in position bar_1
    ax.bar(bar_l, 
           # using Fruit data
           df["Fruit"], 
           # with Dairy at the bottom
           bottom = df["Dairy"], 
           # labeled 
           label = 'Fruit', 
           # with alpha
           alpha = 0.9, 
           # with color
           color = '#ffa500', 
           # with bar width
           width = bar_width,
           # with border color
           edgecolor = 'white'
           )

    # Create a bar chart in position bar_1
    ax.bar(bar_l, 
           # using Non-veg data
           df["Non-vegetarian"], 
           # with Dairy and Fruit at the bottom
           bottom = [i + j for i, j in zip(df["Dairy"], df["Fruit"])], 
           # labeled 
           label = 'Non-vegetarian',
           # with alpha
           alpha = 0.9, 
           # with color
           color = 'grey', 
           # with bar width
           width = bar_width,
           # with border color
           edgecolor = 'white'
           )

    # Create a bar chart in position bar_1
    ax.bar(bar_l, 
           # using Pulses data
           df["Pulses"], 
           # with Dairy, Fruit, and Non-veg at the bottom
           bottom = [i + j + k for i, j, k in zip(df["Dairy"], df["Fruit"], df["Non-vegetarian"])], 
           # labeled 
           label = 'Pulses, Nuts, and Seeds',
           # with alpha
           alpha = 0.9, 
           # with color
           color = '#008000', 
           # with bar width
           width = bar_width,
           # with border color
           edgecolor = 'white'
           )

    # Create a bar chart in position bar_1
    ax.bar(bar_l, 
           # using Starch data
           df["Starch"], 
           # with Dairy, Fruit, Non-veg, and Pulses at the bottom
           bottom = [i + j + k + l for i, j, k, l in zip(df["Dairy"], df["Fruit"], df["Non-vegetarian"], df["Pulses"])], 
           # labeled 
           label = 'Starch',
           # with alpha
           alpha = 0.9, 
           # with color
           color = 'black', 
           # with bar width
           width = bar_width,
           # with border color
           edgecolor = 'white'
           )

    # Create a bar chart in position bar_1
    ax.bar(bar_l, 
           # using Vegetarian data
           df["Vegetarian"], 
           # with Dairy, Fruit, Non-veg, Pulses, and Starch at the bottom
           bottom = [i + j + k + l + m for i, j, k, l, m in zip(df["Dairy"], df["Fruit"], df["Non-vegetarian"], df["Pulses"], df["Starch"])], 
           # labeled 
           label ='Vegetarian',
           # with alpha
           alpha = 0.9, 
           # with color
           color = '#ee82ee', 
           # with bar width
           width = bar_width,
           # with border color
           edgecolor = 'white'
           )

    # Add labels
    # Ref: https://stackoverflow.com/a/48923439
    for i, label in enumerate(list(df.index.values)):
        score1 = df.loc[label]["Dairy"]
        if score1 == 0:
            None
        else:
            ax.annotate(str(score1), (i - 0.1, score1 - 8), color='white', fontsize = 10, weight = 'semibold')

        score2 = df.loc[label]["Fruit"]
        if score2 == 0:
            None
        else:
            ax.annotate(str(score2), (i - 0.1, score1 + score2 - 5), color='white', fontsize=10, weight='semibold')

        score3 = df.loc[label]["Non-vegetarian"]
        if score3 == 0:
            None
        else:
            ax.annotate(str(score3), (i - 0.1, score1 + score2 + score3 - 7), color='white', fontsize=10, weight='semibold')
            
        score4 = df.loc[label]["Pulses"]
        if score4 == 0:
            None
        else:
            ax.annotate(str(score4), (i - 0.1, score1 + score2 + score3 + score4 - 5), color='white', fontsize=10, weight='semibold')  
            
        score5 = df.loc[label]["Starch"]
        if score5 == 0:
            None
        else:
            ax.annotate(str(score5), (i - 0.1, score1 + score2 + score3 + score4 + score5 - 7), color='white', fontsize=10, weight='semibold')  
            
        score6 = df.loc[label]["Vegetarian"]
        if score6 == 0:
            None
        else:
            ax.annotate(str(score6), (i - 0.1, score1 + score2 + score3 + score4 + score5 + score6 - 4), color='white', fontsize=10, weight='semibold')      

    # Set the ticks to be occasion names
    plt.xticks(tick_pos, occasions2)
    ax.set_ylabel("Proportion of dish classes (%)")
    ax.set_xlabel("")
    
    # Hide the right and top spines
    ax.spines['right'].set_visible(False)
    ax.spines['top'].set_visible(False)

    # Set graph title and legend    
    plt.title(state)
    horiz_offset = 1.03
    vert_offset = 1.
    ax.legend(bbox_to_anchor=(horiz_offset, vert_offset))
    
    # Save figure    
    plt.savefig(f"stacked_{state}.png", bbox_inches='tight', dpi = 300)
    plt.savefig(f"stacked_{state}.tif", bbox_inches='tight', dpi = 300)
    
    # Preview graph    
    plt.show()

In [ ]:
# Create stacked percent bar chart for Odisha
create_barchart(pct_OD, "Odisha")

In [ ]:
# Create stacked percent bar chart for West Bengal
create_barchart(pct_WB, "West Bengal")

## Explore the dataset -- ingredients table

In [ ]:
# Open the database connection
engine = create_engine(f"mysql+pymysql://root:{password}@localhost/dishes_db")
db_conn = engine.connect()

# Create a dataframe based on a query for the GSR embedding of the 
# dishes and occasions by state
df_ing = pd.read_sql("select * from ingredients limit 1500", db_conn)

# Close the connection
db_conn.close()

In [ ]:
# Preview the list of dishes and ingredients
df_ing.head()

In [ ]:
# Dishes from Odisha
df_ing_OD = df_ing[df_ing["Odisha"] == 1][["Id", "Dish", "Ingredient", "Ing_Category"]]

# Dishes from West Bengal
df_ing_WB = df_ing[df_ing["West_Bengal"] == 1][["Id", "Dish", "Ingredient", "Ing_Category"]]

# Create a list of dataframes
dfs_ing = [df_ing_OD, df_ing_WB]

# Preview one of the dataframes
dfs_ing[1].head()

In [ ]:
# Determine the most common ingredients per state
# Odisha [0]; West Bengal [1]
common_ingredients = []
for x in dfs_ing:
    df = x.groupby("Ingredient")["Ing_Category"].count().to_frame("Count").reset_index()
    df = df.sort_values(by = ["Count"], ascending = False)
    common_ingredients.append(df)
    
# Merge the two dataframes and rename columns
common_ingredients2 = pd.merge(common_ingredients[0], common_ingredients[1], how = "outer", on = "Ingredient")
common_ingredients2 = common_ingredients2.rename(columns = {"Count_x": "Odisha", "Count_y": "West Bengal"})

# Preview the results    
common_ingredients2.head()

In [ ]:
# Frequency of ingredient categories by state
# Odisha [0]; West Bengal [1]
ing_category = []
for x in dfs_ing:
    df4 = x.groupby("Ing_Category")["Ing_Category"].count().to_frame("Count").reset_index()
    df4 = df4.sort_values(by = ["Count"], ascending = False)
    ing_category.append(df4)
    
# Merge the two dataframes and rename columns
ing_category2 = pd.merge(ing_category[0], ing_category[1], how = "outer", on = "Ing_Category")
ing_category2 = ing_category2.rename(columns = {"Count_x": "Odisha", "Count_y": "West Bengal"})

# Preview the results    
ing_category2.head()