## Load data from the MySQL database

In [1]:
# Dependencies
from sqlalchemy import create_engine
import pymysql
from config import password

import pandas as pd

In [2]:
# Open the database connection
engine = create_engine(f"mysql+pymysql://root:{password}@localhost/dishes_db")
db_conn = engine.connect()

# Create a dataframe based on a query for the GSR embedding of the 
# dishes and occasions by state
df = pd.read_sql("select * from expert_elicitation limit 300", db_conn)

# Close the connection
db_conn.close()

In [3]:
# Print the dataframe
# Dish1 = original value from expert elicitation
# Dish2 = equivalent name (to reduce sparsity of dish name values)
df.head()

   Id   State   Occasion            Dish     Dish2
0   1  Odisha  Breakfast            Bara      Bara
1   2  Odisha  Breakfast  Bread Sandwich  Sandwich
2   3  Odisha  Breakfast         Chakuli   Chakuli
3   4  Odisha  Breakfast          Chatua    Chatua
4   5  Odisha  Breakfast    Chole/Guguni     Chole

In [4]:
# Create individual dataframes by state
df_OD = df.loc[df["State"] == "Odisha"]
df_WB = df.loc[df["State"] == "West Bengal"]

# Print number of unique dishes
print(f"There are {len(df_OD.Dish2.unique())} unique dishes in Odisha.")
print(f"There are {len(df_WB.Dish2.unique())} unique dishes in West Bengal.")

There are 74 unique dishes in Odisha.
There are 82 unique dishes in West Bengal.