## Load data from the MySQL database

In [1]:
# Dependencies
from sqlalchemy import create_engine
import pymysql
from config import password

import pandas as pd

In [2]:
# Open the database connection
engine = create_engine(f"mysql+pymysql://root:{password}@localhost/dishes_db")
db_conn = engine.connect()

# Create a dataframe based on a query for the GSR embedding of the 
# dishes and occasions by state
df = pd.read_sql("select * from expert_elicitation limit 300", db_conn)

# Close the connection
db_conn.close()

In [3]:
# Print the dataframe
# Dish1 = original value from expert elicitation
# Dish2 = equivalent name (to reduce sparsity of dish name values)
df.head()

   Id   State   Occasion            Dish     Dish2
0   1  Odisha  Breakfast            Bara      Bara
1   2  Odisha  Breakfast  Bread Sandwich  Sandwich
2   3  Odisha  Breakfast         Chakuli   Chakuli
3   4  Odisha  Breakfast          Chatua    Chatua
4   5  Odisha  Breakfast    Chole/Guguni     Chole

## Explore the dataset

In [4]:
# Create individual dataframes by state
df_OD = df.loc[df["State"] == "Odisha"]
df_WB = df.loc[df["State"] == "West Bengal"]

# Print number of unique dishes (after reducing sparsity)
print(f"There are {len(df_OD.Dish2.unique())} unique dishes in Odisha.")
print(f"There are {len(df_WB.Dish2.unique())} unique dishes in West Bengal.")

There are 74 unique dishes in Odisha.
There are 82 unique dishes in West Bengal.

In [13]:
# Count how many times a dish is mentioned per state
dish_grouped = df.groupby(["State", "Dish2"])["Dish2"].count().to_frame("Count")\
               .reset_index()
dish_grouped.sort_values(["State","Count"], ascending = False)

           State              Dish2  Count
110  West Bengal   Fried vegetables      3
117  West Bengal            Khichdi      3
118  West Bengal              Luchi      3
139  West Bengal              Raita      3
144  West Bengal               Roti      3
77   West Bengal         Aloo tikki      2
80   West Bengal            Biscuit      2
84   West Bengal               Cake      2
90   West Bengal      Chicken curry      2
103  West Bengal          Egg curry      2
105  West Bengal         Fish curry      2
113  West Bengal             Guguni      2
122  West Bengal       Moori masala      2
126  West Bengal       Mutton curry      2
136  West Bengal              Pulao      2
141  West Bengal               Rice      2
142  West Bengal         Rice kheer      2
146  West Bengal            Sandesh      2
149  West Bengal         Soya curry      2
154  West Bengal    Vegetable curry      2
74   West Bengal       Aloo paratha      1
75   West Bengal         Aloo posto      1
76   West Bengal         Aloo sabji      1
78   West Bengal       Bamboo shoot      1
79   West Bengal         Bari curry      1
81   West Bengal               Boda      1
82   West Bengal              Bread      1
83   West Bengal     Breakfast suji      1
85   West Bengal            Chakuli      1
86   West Bengal            Chapati      1
..           ...                ...    ...
25        Odisha         Egg omelet      1
27        Odisha         Fried rice      1
29        Odisha              Fruit      1
31        Odisha             Guguni      1
32        Odisha               Idli      1
33        Odisha              Khata      1
36        Odisha         Maka sijha      1
37        Odisha      Mashed potato      1
38        Odisha       Moori masala      1
39        Odisha        Mudhi khira      1
40        Odisha     Mushroom curry      1
42        Odisha            Noodles      1
44        Odisha             Pakoda      1
45        Odisha       Palak paneer      1
46        Odisha             Pampad      1
48        Odisha           Panipuri      1
54        Odisha            Rasgola      1
57        Odisha         Rice kheer      1
58        Odisha         Rice pitha      1
59        Odisha  Roasted groundnut      1
61        Odisha              Sabji      1
62        Odisha         Saga bhaja      1
63        Odisha             Sambar      1
64        Odisha             Samosa      1
65        Odisha           Sandwich      1
67        Odisha            Santula      1
69        Odisha         Suji halwa      1
70        Odisha         Suji kheer      1
72        Odisha             Sweets      1
73        Odisha   Vegetable pakoda      1

[156 rows x 3 columns]

In [9]:
# Count how many times a dish is mentioned in both states
dish_grouped2 = df.groupby("Dish2")["Dish2"].count().to_frame("Count").reset_index()
dish_grouped2.sort_values("Count", ascending = False)

                        Dish2  Count
90                      Raita      6
97                       Roti      6
62                    Khichdi      5
53           Fried vegetables      5
23              Chicken curry      5
77                    Pakhala      4
84                    Paratha      4
47                 Fish curry      4
44                  Egg curry      4
93                       Rice      4
73               Mutton curry      4
105                   Sanjula      4
16                    Chakuli      4
81               Paneer curry      4
10                    Biscuit      4
63                      Luchi      3
39                      Dalma      3
68               Moori masala      3
57                     Guguni      3
27                      Chole      3
94                 Rice kheer      3
87                       Puri      3
65               Madhi chakta      3
85                Prawn curry      3
116           Vegetable curry      2
80                     Pampad      2
89              Ragi porridge      2
37                        Dal      2
4                  Aloo tikki      2
86                      Pulao      2
..                        ...    ...
9                     Biryani      1
8                     Bhature      1
7                  Bari curry      1
5                Bamboo shoot      1
3                  Aloo sabji      1
2                  Aloo posto      1
29                  Chow mein      1
35                 Crab curry      1
71             Mushroom curry      1
36                  Dahi vada      1
69               Motor paneer      1
66                 Maka sijha      1
64                Macher chop      1
61                      Khata      1
1                Aloo paratha      1
58               Hilsa bhappa      1
55          Geri-googly curry      1
52                 Fried rice      1
51                 Fried fish      1
50               French toast      1
49              Fish head dal      1
48   Fish head and vegetables      1
46                   Egg roll      1
45                 Egg omelet      1
43                        Egg      1
42                Dosa masala      1
41                     Dohoka      1
40                      Dhoka      1
38                 Dalia upma      1
118          Vegetable pakoda      1

[119 rows x 2 columns]